@charset "UTF-8";
body .background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* Place le fond derrière le contenu */
}
body .background-container .background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Couvre toute la zone sans déformer l'image */
  filter: blur(1rem);
  /* Applique un flou de 8 pixels */
}
body .background-container .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.8);
}
body header #logo img {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body header #logo h1 {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body header .carousel-item {
  height: 40rem;
}
body header .pizza-1 {
  background-image: url(../images/presentation.jpg);
  background-size: cover;
  background-position: bottom;
}
body header .pizza-2 {
  background-image: url(../images/presentation2.jpg);
  background-size: cover;
  background-position: center;
}
body header .pizza-3 {
  background-image: url(../images/presentation3.jpg);
  background-size: cover;
  background-position: center;
}
body .navbar .container-fluid img {
  width: 4rem;
}
body .navbar .container-fluid #navbarSupportedContent {
  justify-content: end;
}
body .navbar .container-fluid #navbarSupportedContent .nav-link.active {
  background-color: black;
  color: yellow;
}
body .navbar .container-fluid #navbarSupportedContent .nav-link {
  color: black;
}
body main {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
body main .scrollspy-example .card {
  width: 30%;
  background-color: #cc9500;
}
body main .scrollspy-example .card .green {
  background-color: green;
}
body main .scrollspy-example #scrollspyHeading1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
body main .scrollspy-example #scrollspyHeading1 .card .card-body div {
  display: flex;
}
body main .scrollspy-example #scrollspyHeading2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
body main .scrollspy-example #scrollspyHeading2 .card .card-body div {
  display: flex;
}
body main .scrollspy-example #scrollspyHeading3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
body main .scrollspy-example #scrollspyHeading3 .card .card-body div {
  display: flex;
}
body main .scrollspy-example .description {
  width: 96%;
  margin: 0 auto;
}
body footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 96%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
body footer div {
  display: flex;
  flex-direction: column;
}
body footer div p {
  font-size: 2rem;
}
body footer div a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
body footer div a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */