body {

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        /* Place le fond derrière le contenu */

        .background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Couvre toute la zone sans déformer l'image */
            filter: blur(1rem);
            /* Applique un flou de 8 pixels */
        }

        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(20, 20, 20, 0.8);
        }

    }

    header {
        #logo {
            img{
                position: absolute;
                z-index: 10;
                top: 25%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h1 {
                position: absolute;
                z-index: 10;
            }
        }

        .carousel-item {
            height: 30rem;
        }

        .pizza-1 {
            background-image: url(../images/presentation.jpg);
            background-size: cover;
            background-position: bottom;
        }

        .pizza-2 {
            background-image: url(../images/presentation2.jpg);
            background-size: cover;
            background-position: center;
        }

        .pizza-3 {
            background-image: url(../images/presentation3.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .navbar{
        .container-fluid{
            img{
                width: 4rem;
            }

            #navbarSupportedContent{
                justify-content: end;

                .nav-link.active{
                    background-color: black;
                    color: yellow;
                }

                .nav-link{
                    color: black;
                }
            }
        }
    }

    main {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;

        .scrollspy-example {
            .card {
                width: 30%;
                background-color: #cc9500 ;
            }

            #scrollspyHeading1 {
                display: flex;
                justify-content: space-around;
                margin-bottom: 5rem;

                .card {
                    .card-body {
                        div {
                            display: flex;
                        }
                    }
                }
            }

            #scrollspyHeading2 {
                display: flex;
                justify-content: space-around;
                margin-bottom: 5rem;

                .card {
                    .card-body {
                        div {
                            display: flex;
                        }
                    }
                }
            }

            #scrollspyHeading3 {
                display: flex;
                justify-content: space-around;
                margin-bottom: 5rem;

                .card {
                    .card-body {
                        div {
                            display: flex;
                        }
                    }
                }
            }

            .description{
                width: 96%;
                margin: 0 auto;
            }
        }


    }

    footer {
        display: flex;
        justify-content: space-between;
        color: white;
        background-color: rgba(255, 255, 255,0.2);
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 1rem;

        div{
            display: flex;
            flex-direction: column;

            p{
                font-size: 2rem;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }

}